spring:
  datasource:
    url: jdbc:h2:file:./sc2db
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
      path: /h2-console

mybatis:
  configuration:
    map-underscore-to-camel-case: true

server:
  address: 0.0.0.0
  port: 8081

sc2pulse:
  base-url: https://sc2pulse.nephest.com/sc2/api
