spring:
  profiles:
    active: h2
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

mybatis:
  configuration:
    map-underscore-to-camel-case: true

server:
  address: 0.0.0.0
  port: 8081

sc2pulse:
  base-url: https://sc2pulse.nephest.com/sc2/api
